<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>86097937857-laqsl7rq71an8v387s2ibqr2cfn7c7rv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86097937857-laqsl7rq71an8v387s2ibqr2cfn7c7rv</string>
	<key>API_KEY</key>
	<string>AIzaSyAiyeECmaStriGemU0G2PyyEZA2_a5AYi8</string>
	<key>GCM_SENDER_ID</key>
	<string>86097937857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example..TaskMate</string>
	<key>PROJECT_ID</key>
	<string>taskmate-37575</string>
	<key>STORAGE_BUCKET</key>
	<string>taskmate-37575.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:86097937857:ios:d82b49baa5d0d66e</string>
	<key>DATABASE_URL</key>
	<string>https://taskmate-37575.firebaseio.com</string>
</dict>
</plist>